ul {
	display: flex;
	flex-direction: row; 
	justify-content: center;
	justify-content: space-evenly;
	align-content: center;
	position: relative;
	margin-top: 10%;
}

ul#p1 {
   
}

li {
    list-style: none;
}